.tesla-img {
    max-width: 150px !important;
    // height: 70px;
    margin: 10px auto;
}

.ct-series {

    &-a .ct-slice-donut {
        stroke: #405285;
    }
    &-b .ct-slice-donut {
        stroke: rgba(134, 149, 188, 0.5);
    }
}

.ct-chart-donut .ct-label {
    font-size: .7rem;
    fill: #405285;
}

.card-title-box {
    padding: 9px !important;
    min-width: 142px;

    >h5 {
        margin: 0;
    }
}

.ct-series-c .ct-area {
    fill: #ffffff !important;
    fill-opacity: .6 !important;
}

.thin-theme-text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.46429em;
    color: rgba(0, 0, 0, 0.54);
}
.bold-theme-text {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    line-height: 1em;
}

.ct-labels .ct-label-rotated.ct-horizontal {
    -ms-transform: rotate(-35deg); /* IE 9 */
    -webkit-transform: rotate(-35deg); /* Safari */
    transform: rotate(-35deg);
    width: 55px !important;
    font-size: .6rem;
    margin-left: -10px;
    margin-top: 3px;
}

.wrapped-card-class {
    height: 100%;
    margin: 0 !important;
}
.m-tb-30 {
    margin: 30px 0 !important;
}

.chart-wrapper {
    position: relative;
    padding: 10px 25px;

    &__axis {
        &-x {
            position: absolute;
            bottom: 5px;
            left: 50%;
        }
        &-y {
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-90deg);
            transform-origin: left top;
        }
    }
}

.histogram {

    &-line {
        stroke: transparent !important;
    }
    &-point {
        stroke-width: 6px !important;
    }
    &-labels {

        .ct-horizontal {
            margin-left: -15px !important;
        }
    }
}


.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
    stroke: #6385A5;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #44D2DD;
}

.battery-range-chart {
    .histogram-point {
        display: none !important;
    }
    .ct-series {

        &.ct-series-a {
            .ct-area {
                display: none !important;
            }
            .histogram-line {
                stroke: #6385A5 !important;
            }
        }
        &.ct-series-b {

            .ct-area {
                fill: rgba(99, 133, 165, .8);
            }
        }
    }
}